@model Booking.Web.ViewModels.ViewComponents.SearchResults.SearchIndexListViewModel

@if (Model != null && Model.Properties.Any())
{
    @foreach (var property in Model.Properties)
    {
        <div class="media col-md-6">
            <a asp-area="" asp-controller="Properties" asp-action="ById" asp-route-id="@property.Id">
                <img class="mr-4" style="width: 100%; height: 200px;" src="@property.Image" alt="@property.Name">
            </a>
            <div class="media-body">
                <div class="mt-0"><a class="hotel-name" asp-area="" asp-controller="SearchProperties" asp-action="ById" asp-route-id="@property.Id">@property.Name</a></div>
                <div>
                    @for (int i = 0; i < property.Stars; i++)
                    {
                        <i class="fas fa-star star"></i>
                    }
                    @for (int i = 0; i < 5 - property.Stars; i++)
                    {
                        <i class="far fa-star star"></i>
                    }
                </div>
                <div class="cat-property">
                    @property.PropertyCategory
                </div>
                <div class="country-town">
                    @property.Town, @property.Country
                </div>
                <div class="cat-property text-right font-italic">Offers found: @property.OffersCount</div>
            </div>
            <hr />
        </div>
    }
}
else
{
    <div class="col-md-12">
        Nothing found based on criteria you had entered. Try again!
    </div>
}
