@model Booking.Web.ViewModels.PropertiesViewModels.PropertiesListViewModel
@{
    this.ViewData["Title"] = "List of my properties";
}

<h2 class="h2 text-center padding-headings">@this.ViewData["Title"]</h2>
@if (Model.Properties.Count() == 0 || Model.Properties == null)
{
    <p class="text-center intro">No properties found. <a asp-area="Owner" asp-controller="Properties" asp-action="Add">Register your first property now!</a></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <a asp-area="Owner" asp-controller="Properties" asp-action="Add" class="add"><i class="fas fa-plus-circle"></i> <span class="underline">Add new property</span></a>
            @if (this.TempData.ContainsKey("Message"))
            {
                <div class="alert alert-success margins-temp">@this.TempData["Message"]</div>
            }

            @if (this.TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger margins-temp">@this.TempData["Error"]</div>
            }
        </div>
        @foreach (var property in Model.Properties)
        {
            <div class="media col-md-4">
                <img class="mr-4" style="width: 100%; height: 200px;" src="@property.Image" alt="@property.Name">
                <div class="media-body">
                    <div class="mt-0 hotel-name">@property.Name</div>
                    <div>
                        @for (int i = 0; i < property.Stars; i++)
                        {
                            <i class="fas fa-star star"></i>
                        }
                        @for (int i = 0; i < 5 - property.Stars; i++)
                        {
                            <i class="far fa-star star"></i>
                        }
                    </div>
                    <div class="cat-property">
                        @property.PropertyCategory
                    </div>
                    <div class="country-town">
                        @property.Town, @property.Country
                    </div>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn button" asp-area="Owner" asp-controller="Properties" asp-action="ById" asp-route-id="@property.Id">View</a></li>
                    <li class="list-inline-item"><a class="btn button" asp-area="Owner" asp-controller="Properties" asp-route-id="@property.Id" asp-action="Edit">Edit</a></li>
                    <li class="list-inline-item">
                        <form method="post" asp-area="Owner" asp-controller="Properties" asp-action="Delete" id="deleteForm_@property.Id" asp-route-id="@property.Id"></form>
                        <button id="deleteBtn" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@property.Id">Delete</button>
                    </li>
                </ul>
                <hr />
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="deleteModal_@property.Id">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Do you want to delete @property.Name?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn button btn-margin" onclick="document.getElementById('deleteForm_@property.Id').submit()">Yes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}