@model Booking.Web.ViewModels.PropertiesViewModels.PropertiesListViewModel
@{
    this.ViewData["Title"] = "List of my properties";
}

<h2 class="h2 text-center padding-headings">@this.ViewData["Title"]</h2>
@if (Model.Properties.Count() == 0 || Model.Properties == null)
{
    <div class="text-center intro">No properties found. <a asp-area="Owner" asp-controller="Properties" asp-action="Add">Register your first property now!</a></div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <a asp-area="Owner" asp-controller="Properties" asp-action="Add" class="add"><i class="fas fa-plus-circle"></i> <span class="underline">Add new property</span></a>
            @if (this.TempData.ContainsKey("Message"))
            {
                <div class="alert alert-success margins-temp">@this.TempData["Message"]</div>
            }

            @if (this.TempData.ContainsKey("Error"))
            {
                <div class="alert alert-danger margins-temp">@this.TempData["Error"]</div>
            }
        </div>
        @foreach (var property in Model.Properties)
        {
            <div class="media col-md-4">
                <a asp-area="Owner" asp-controller="Properties" asp-action="ById" asp-route-id="@property.Id">
                    <img class="mr-4" style="width: 100%; height: 200px;" src="@property.Image" alt="@property.Name">
                </a>
                <div class="media-body">
                    <div class="mt-0"><a class="hotel-name" asp-area="Owner" asp-controller="Properties" asp-action="ById" asp-route-id="@property.Id">@property.Name</a></div>
                    <div>
                        @for (int i = 0; i < property.Stars; i++)
                        {
                            <i class="fas fa-star star"></i>
                        }
                        @for (int i = 0; i < 5 - property.Stars; i++)
                        {
                            <i class="far fa-star star"></i>
                        }
                    </div>
                    <div class="cat-property">
                        @property.PropertyCategory
                    </div>
                    <div class="country-town">
                        @property.Town, @property.Country
                    </div>
                </div>
                <hr />
            </div>
        }
    </div>
}