@model Booking.Web.ViewModels.SearchProperties.SearchIndexInListViewModel
@{
    this.ViewData["Title"] = "Searched result";
}

@if (Model == null)
{
    <p>NOT FOUND</p>
}
else
{
    foreach (var property in Model.Properties)
    {
        <h3>Property information</h3>
        <p>@property.Name</p>
        <p>@property.Description</p>
        <p>@property.Stars</p>
        <p>@property.Floors</p>
        <p>@property.Country</p>
        <p>@property.Town</p>
        <p>@property.Address</p>
        <p>@property.PropertyCategory</p>
        <p>@property.PropertyType</p>
        <p>@property.CurrencyCode</p>

        <h3>Property facilities</h3>
        <p>
            <ul>
                @foreach (var facility in property.Facilities)
                {
                    <li>@facility</li>
                }
            </ul>
        </p>

        <h3>Offers</h3>
        @if (property.Offers.Count == 0)
        {
            <p><a asp-controller="Offers" asp-action="Add" asp-route-id="@property.Id">Add an offer</a></p>
        }
        else
        {
            foreach (var offer in property.Offers)
            {
                <p>@(offer.Price * offer.Guests) @property.CurrencyCode</p>
                <p>@offer.ValidFrom</p>
                <p>@offer.ValidTo</p>
                <p>@offer.Guests</p>

                <p>------------------------------------</p>

                foreach (var facility in offer.OfferFacilities)
                {
                    <p>@facility.Category</p>
                    <p>@facility.Name</p>
                }
                foreach (var room in offer.Rooms)
                {
                    <p>@room</p>
                }
                
                <form asp-action="Book" asp-controller="Bookings">
                    <input type="hidden" name="CheckIn" value="@property.CheckIn" />
                    <input type="hidden" name="CheckOut" value="@property.CheckOut" />
                    <input type="hidden" name="OfferId" value="@offer.Id" />
                    <input type="submit" class="btn btn-primary" value="Book!" />
                </form>
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            }
        }
    }
}