@model Booking.Web.ViewModels.PropertiesVM.AddPropertyInputModel
@{
    this.ViewData["Title"] = "Create a hotel";
    var countries = this.Model.Countries.Select(x => new SelectListItem(x.Value, x.Key));
    var propertyCategories = this.Model.PropertyCategories.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="row padding">
    <form method="post" class="row" enctype="multipart/form-data">
        <h2 class="h2 text-center">Create a property</h2>
        <div class="col-md-6">
            <hr />
            <h4 class="h4-padding">Property information</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars"></label>
                <select asp-for="Stars" class="form-control">
                    <option value="0">None</option>
                    <option value="1">1 Star</option>
                    @for (int i = 2; i <= 5; i++)
                    {
                        <option value="@i">@i Stars</option>
                    }
                </select>
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId"></label>
                <select id="countriesId" asp-for="CountryId" class="form-control" asp-items="countries">
                    <option value="0">Choose a country ...</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TownId"></label>
                <select id="townsId" asp-for="TownId" class="form-control">
                    <option value="0">Choose a country first ...</option>
                </select>
                <span asp-validation-for="TownId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyCategoryId"></label>
                <select asp-for="PropertyCategoryId" class="form-control" asp-items="propertyCategories">
                    <option value="0">Choose a property category ...</option>
                </select>
                <span asp-validation-for="PropertyCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Floors"></label>
                <input asp-for="Floors" class="form-control" />
                <span asp-validation-for="Floors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <hr />
            <input type="submit" class="book-btn text-center" value="Create" />
        </div>
        <div class="col-md-6">
            <hr />
            <h4 class="h4-padding">Description</h4>
            <hr />
            <div class="form-group">
                <textarea class="form-control" asp-for="Description" cols="10" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <h4 class="h4-padding">General Facilities</h4>
            <hr />
            <div class="form-group row">
                @foreach (var facility in Model.Facilities)
                {
                    <div class="col-md-6">
                        <input id="facility_@facility.Id"
                               type="checkbox"
                               name="FacilitiesIds"
                               value="@facility.Id" />
                        <label for="facility_@facility.Id">@facility.Name</label>
                    </div>
                }
            </div>
            <hr />
            <h4 class="h4-padding">What do you allow? (Property rules)</h4>
            <hr />
            <div class="form-group row">
                @foreach (var rule in Model.Rules)
                {
                    <div class="col-md-6">
                        <input id="rule_@rule.Id"
                               type="checkbox"
                               name="RulesIds"
                               value="@rule.Id" />
                        <label for="rule_@rule.Id">@rule.Name</label>
                    </div>
                }
            </div>
            <hr />
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/assets/js/ajax-countries-towns.js"></script>
}