@model Booking.Web.ViewModels.PropertiesVM.PropertyInListModel
@{
    this.ViewData["Title"] = "My properties";
}

<div class="padding">
    <h2 class="h2 text-center">List of my properties</h2>

    @if (Model.Properties.Count() == 0)
    {
        <p class="text-center intro">You are an owner? <a asp-action="Add">Register your property now!</a></p>
    }

    @foreach (var property in Model.Properties)
    {
        <div class="media col-md-4">
            <img class="mr-4" src="https://fontawesome.com/images/open-graph.png" alt="@property.Name">
            <div class="media-body">
                <h5 class="mt-0">@property.Name</h5>
                <div>
                    @for (int i = 0; i < property.Stars; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </div>
                <div>@property.PropertyCategory</div>
                <div>@property.Town, @property.Country</div>
            </div>
            <ul>
                <li><a class="btn btn-primary" asp-action="ById">View</a></li>
                <li><a class="btn btn-primary" asp-action="Add" asp-controller="Offers">Add an offer</a></li>
                <li><a class="btn btn-primary" asp-route-id="@property.Id" asp-action="Edit">Edit</a></li>
                <li>
                    <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@property.Id">
                    </form>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </li>
            </ul>
        </div>
    }
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>