@model Booking.Web.ViewModels.PropertiesVM.PropertyByIdViewModel
@{
    this.ViewData["Title"] = this.Model.Name;
}

<h3>Property information</h3>
<p>@Model.Name</p>
<p>@Model.Description</p>
<p>@Model.Stars</p>
<p>@Model.Floors</p>
<p>@Model.Country</p>
<p>@Model.Town</p>
<p>@Model.Address</p>
<p>@Model.PropertyCategory</p>
<p>@Model.PropertyType</p>
<p>@Model.CurrencyCode</p>

<h3>Property facilities</h3>
<p>
    <ul>
        @foreach (var facility in Model.Facilities)
        {
            <li>@facility</li>
        }
    </ul>
</p>

<h3>Offers</h3>
@if (Model.Offers.Count == 0)
{
    <p><a asp-controller="Offers" asp-action="Add" asp-route-id="@Model.Id">Add an offer</a></p>
}
else
{
    foreach (var offer in Model.Offers)
    {
        <p>@(offer.Price * offer.Guests) @Model.CurrencyCode</p>
        <p>@offer.ValidFrom</p>
        <p>@offer.ValidTo</p>
        <p>@offer.Guests</p>

        <p>------------------------------------</p>

        foreach (var facility in offer.OfferFacilities)
        {
            <p>@facility.Category</p>
            <p>@facility.Name</p>
        }
        foreach (var room in offer.Rooms)
        {
            <p>@room</p>
        }

        foreach (var image in offer.Images)
        {
            <img src="@image" alt="@Model.Name">
        }

        <a class="btn btn-primary" asp-action="Edit" asp-controller="Offers" asp-route-id="@offer.Id">Edit</a>
        <form method="post">
            <button class="btn btn-danger" asp-action="Delete" asp-controller="Offers" asp-route-id="@offer.Id">Delete</button>
        </form>
        <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
    }
}